 {% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>设置</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% if confirm_email %}
				<div class="alert alert-info alert-dismissable submit-row" role="alert">
					您的邮箱地址还没有被确认！
					请检查您的邮件来验证您的邮箱地址。
					<br>
					<br>
					需要重新发送确认邮件请 <a href="{{ url_for('auth.confirm') }}">点击这里</a>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">×</span></button>
				</div>
			{% endif %}
			<form id="user-settings-form" method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
				<div class="form-group">
					<label for="name-input">
						队伍名称
					</label>
					<input class="form-control" type="text" name="name" id="name-input" value="{{name}}"/>
				</div>
				<div class="form-group">
					<label for="email-input">
						邮箱
					</label>
					<input class="form-control" type="email" name="email" id="email-input" value="{{email}}"/>
				</div>

				<hr>

				<div class="form-group">
					<label for="confirm-input">
						当前密码
					</label>
					<input class="form-control" type="password" name="confirm" id="confirm-input" />
				</div>
				<div class="form-group">
					<label for="password-input">
						新密码
					</label>
					<input class="form-control" type="password" name="password" id="password-input" />
				</div>

				<hr>

				<div class="form-group">
					<label for="real_name-input">
						姓名
					</label>
					<input class="form-control" type="text" name="real_name" id="real_name-input" value="{% if real_name %}{{real_name}}{% endif %}" />
				</div>
				<div class="form-group">
					<label for="student_id-input">
						学号
					</label>
					<input class="form-control" type="text" name="student_id" id="student_id-input" value="{% if student_id %}{{student_id}}{% endif %}" />
				</div>
				<div class="form-group">
					<label for="contact-input">
						联系方式（QQ或手机号）
					</label>
					<input class="form-control" type="text" name="contact" id="contact-input" value="{% if contact %}{{contact}}{% endif %}" />
				</div>

				<div id="results" class="form-group">
				</div>

				<div class="form-group">
					<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-outlined float-right">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/style.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/settings.js') }}"></script>
{% endblock %}
