<form id="user-info-form">
	<input type="hidden" name="id">
	<div class="form-group">
		<label for="name">User Name</label>
		<input type="text" class="form-control" name="name" id="name"
			   {% if user is defined and user.name %}value="{{ user.name }}"{% endif %} required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" id="email"
			   {% if user is defined and user.email %}value="{{ user.email }}"{% endif %} required>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" name="password" id="password"/>
	</div>
	<div class="form-group">
		<label for="real_name">Name</label>
		<input type="text" class="form-control" name="real_name" id="real_name"
			   {% if user is defined and user.real_name %}value="{{ user.real_name }}"{% endif %}>
	</div>
	<div class="form-group">
		<label for="student_id">ID</label>
		<input type="text" class="form-control" name="student_id" id="student_id"
			   {% if user is defined and user.student_id %}value="{{ user.student_id }}"{% endif %}>
	</div>
	<div class="form-group">
		<label for="contact">Contact</label>
		<input type="text" class="form-control" name="contact" id="contact"
			   {% if user is defined and user.contact %}value="{{ user.contact }}"{% endif %}>
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			<select class="form-control form-inline" id="type-select" name="type">
				<option value="user"{% if user is defined and user.type == 'user' %} selected{% endif %}>
					User
				</option>
				<option value="admin"{% if user is defined and user.type == 'admin' %} selected{% endif %}>
					Admin
				</option>
			</select>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" name="verified" id="verified-checkbox">
			<label class="form-check-label" for="verified-checkbox">Verified</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" name="hidden" id="hidden-checkbox">
			<label class="form-check-label" for="hidden-checkbox">Hidden</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" name="banned" id="banned-checkbox">
			<label class="form-check-label" for="banned-checkbox">Banned</label>
		</div>
	</div>
	<div id="results">
	</div>
	<button id="update-user" type="submit" class="btn btn-primary btn-outlined float-right modal-action">
		Submit
	</button>
</form>